@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --font: 'Indie Flower';
    --backgroundColor: rgb(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
}

body {
    background-image: url('images/grass-background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: var(--font), cursive;
    font-size: 75px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    animation: colorChange 2s infinite;
}

h2 {
    font-family: var(--font), cursive;
    font-size: 30px;
    font-weight: bolder;
}

p {
    font-family: var(--font), cursive;
    font-size: 25px;
    color: blue;
    font-weight: bolder;
}

@keyframes colorChange {
    0% {color: red;}
    25% {color: yellow;}
    50% {color: green;}
    75% {color: blue;}
    100% {color: red;}
}

.battle-control button {
    background-color: #555555;
    border: black;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
}

.battle-control button:hover {
    background-color: lightslategrey;
    border-radius: 50%;
}

.battle-control button:active {
    background-color: #555555;
    border-radius: 50%;
}

.battle-control {
    margin: 15px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin: auto auto 50px;
    display: block;
    border: 5px solid;
    animation: borderChange 2s infinite;
    cursor: pointer;
}

@keyframes borderChange {
    0% {border-color: var(--colorShadeA);}
    20% {border-color: var(--colorShadeB);}
    40% {border-color: var(--colorShadeC);}
    60% {border-color: var(--colorShadeD);}
    80% {border-color: var(--colorShadeE);}
    100% {border-color: var(--colorShadeA);}
}

.upgrade {
    margin: auto;
    width: fit-content;
    background-color: aquamarine;
    padding: 0 10px 50px;
    height: auto;
    border: 5px solid;
}

.upgrade button {
    width: 500px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
    color:var(--colorShadeA);
    font-weight: 700;
    font-family: inherit;
}

.upgrade button {
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
.upgrade button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


.upgrade button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
}

.upgrade button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
}

.upgrade button:active {
    transform: translate(0em, 0.75em);
}

.upgrade button:active::before {
    transform: translate3d(0, 0, -1em);

    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}

#instruction {
    background-color: white;
    padding: 50px;
    max-width: 600px;
    margin: auto;
}

#instruction button {
    cursor: pointer;
    width: fit-content;
    background-color: darkolivegreen;
    border-radius: 50%;
    box-shadow: 0 9px #999;
}

#instruction button:active {
    text-decoration: none;
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#introduction {
    background-color: white;
    padding: 50px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}